<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanyou.mapper.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.sanyou.pojo.Product" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="product_code" property="productCode" jdbcType="VARCHAR" />
    <result column="product_value" property="productValue" jdbcType="DOUBLE" />
    <result column="product_state" property="productState" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="update_state_date" property="updateStateDate" jdbcType="TIMESTAMP" />
    <result column="maintain_type" property="maintainType" jdbcType="INTEGER" />
    <result column="update_maintain_date" property="updateMaintainDate" jdbcType="TIMESTAMP" />
    <result column="userId" property="userid" jdbcType="VARCHAR" />
  </resultMap>

  <select id="getOrderProduct" parameterType="Integer" resultType="com.sanyou.pojo.vo.ProductVo">
    select p.id,p.product_code as productCode,p.product_value as productValue,p.product_state as productState,
           p.createtime as createtime,p.update_state_date as updateStateDate,p.maintain_type as maintainType,
           p.update_maintain_date as updateMaintainDate,p.userId as userid,
           o.ddb_length as ddbLength,o.ddb_width as ddbWidth,o.ddb_height as ddbHeight,o.yjb_length as yjbLength,
           o.yjb_width as yjbWidth,o.yjb_height as yjbHeight
    from product p
    left join order_product op on p.id=op.product_id
    left join `order` o on op.order_id=o.id
    where o.id=#{oid}
  </select>
  <select id="checkCodeRange" parameterType="String" resultType="Integer">
    select count(*) from order_product op
                    left JOIN product p on op.product_id=p.id
    where p.product_code BETWEEN  #{startProductCode} and #{endProductCode};
  </select>

  <select id="query" parameterType="com.sanyou.pojo.vo.ProductVo" resultType="com.sanyou.pojo.vo.ProductVo">
    select p.id as id,p.product_code as productCode,p.product_value as productValue,p.product_state as productState,
           p.createtime as createtime,p.update_state_date as updateStateDate,p.maintain_type as maintainType,
           p.update_maintain_date as updateMaintainDate,p.userId as userid,
           o.yjb_length as yjbLength,o.yjb_width as yjbWidth,o.yjb_height as yjbHeight,
           (select username from user where id=p.userId) as username
    from product p
    left join order_product op on p.id=op.product_id
    left join `order` o on o.id=op.order_id
    left join project_order po on o.id=po.order_id
    left join project pr on po.project_id=pr.id
    where 1=1
    <if test="productState != null">
      and p.product_state=#{productState}
    </if>
    <if test="maintainType != null">
      and p.maintain_type=#{maintainType} and p.product_state=1
    </if>
    <if test="query != null and query != ''">
      and p.product_code like '%${query}%'
    </if>
    <if test="factoryId != null and factoryId != ''">
      and pr.factory_id=#{factoryId}
    </if>
  </select>

  <update id="updateProduct" parameterType="com.sanyou.pojo.Product">
    UPDATE `product` SET `product_code`=#{productCode}, `product_value`=#{productValue}, `product_state`=#{productState},
           `update_state_date`=#{updateStateDate},`maintain_type`=#{maintainType}, `update_maintain_date`=#{updateMaintainDate}, `userId`=#{userid}
    WHERE (`id`=#{id});

  </update>

  <select id="getProjectProducts" parameterType="Integer" resultType="com.sanyou.pojo.Product">
    select p.id as id,p.product_state as productState from product p where p.id in (
      select op.product_id from order_product op where op.order_id in (
        select po.order_id from project_order po where po.project_id=#{pid}
      ))
  </select>

  <select id="selectByCode" parameterType="String" resultType="com.sanyou.pojo.vo.ProductVo">
    select p.id as id,p.product_code as productCode,p.product_value as productValue,p.product_state as productState,
    p.createtime as createtime,p.update_state_date as updateStateDate,p.maintain_type as maintainType,
    p.update_maintain_date as updateMaintainDate,p.userId as userid,
    o.ddb_length as ddbLength,o.ddb_width as ddbWidth,o.ddb_height as ddbHeight,
    o.yjb_length as yjbLength,o.yjb_width as yjbWidth,o.yjb_height as yjbHeight,
    (select username from user where id=p.userId) as username
    from product p
    left join order_product op on p.id=op.product_id
    left join `order` o on o.id=op.order_id
    left join project_order po on o.id=po.order_id
    left join project pr on po.project_id=pr.id
    where 1=1
    <if test="scanCode != null and scanCode != ''">
      and p.product_code=#{scanCode}
    </if>
  </select>
</mapper>