<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanyou.mapper.ProjectDataMapper" >
  <resultMap id="BaseResultMap" type="com.sanyou.pojo.ProjectData" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="factory_id" property="factoryId" jdbcType="VARCHAR" />
    <result column="dir_path" property="dirPath" jdbcType="VARCHAR" />
    <result column="fileName" property="filename" jdbcType="VARCHAR" />
    <result column="extension" property="extension" jdbcType="VARCHAR" />
    <result column="length" property="length" jdbcType="INTEGER" />
    <result column="width" property="width" jdbcType="INTEGER" />
    <result column="height" property="height" jdbcType="INTEGER" />
    <result column="MD5" property="md5" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="getProjectList" parameterType="String" resultMap="BaseResultMap">
    select project_id,factory_id,dir_path,fileName,extension,length,width,height,MD5,createTime
    from project_data
    where factory_id=(select factory_id from user where id=#{userId})
  </select>
</mapper>