<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanyou.mapper.ResourceMapper" >
  <resultMap id="BaseResultMap" type="com.sanyou.pojo.vo.ResourceVo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="res_code" property="resCode" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="layer" property="layer" jdbcType="TINYINT" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="parent_code" property="parentCode" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="deletetime" property="deletetime" jdbcType="TIMESTAMP" />
    <result column="delete_mark" property="deleteMark" jdbcType="TINYINT" />
  </resultMap>

  <select id="queryResources" parameterType="String" resultMap="BaseResultMap">
    select r.id,r.res_code,r.title,r.layer,r.parent_id,r.createtime,r.updatetime,r.deletetime,
           r.delete_mark,r2.res_code as parent_code,r.url as url
    from resource r left JOIN resource r2 on r.parent_id=r2.id
    where 1=1 and r.delete_mark=0
    <if test="query != null and query != ''">
      and (r.res_code like '%${query}%' or r.title like '%${query}%' or r2.res_code like '%${query}%')
    </if>
  </select>
</mapper>