<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanyou.mapper.VerticalityDataMapper" >
  <resultMap id="BaseResultMap" type="com.sanyou.pojo.VerticalityData" >
    <id column="verticality_id" property="verticalityId" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="contract_id" property="contractId" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="verticality" property="verticality" jdbcType="REAL" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="update_state_date" property="updateStateDate" jdbcType="TIMESTAMP" />
    <result column="maintain_type" property="maintainType" jdbcType="INTEGER" />
    <result column="update_maintain_date" property="updateMaintainDate" jdbcType="TIMESTAMP" />
    <result column="userId" property="userid" jdbcType="VARCHAR" />
  </resultMap>

  <select id="query" parameterType="com.sanyou.pojo.vo.VerticalityDataVo" resultType="com.sanyou.pojo.vo.VerticalityDataVo">
    select verticality_id as verticalityId,project_id as projectId,contract_id as contractId,
           createTime as createtime,verticality as verticality,state,update_state_date as updateStateDate,
           maintain_type as maintainType,update_maintain_date as updateMaintainDate,userId as userid,
           (select username from user WHERE id=userid) as username
    from verticality_data
    where 1=1
    <if test="queryVo.state != null">
        and state=#{queryVo.state}
    </if>
    <if test="queryVo.maintainType != null">
        and maintain_type=#{queryVo.maintainType} and state=1
    </if>
    <if test="queryVo.query != null and queryVo.query != ''">
        and verticality_id like CONCAT('%',#{queryVo.query},'%')
    </if>
  </select>
</mapper>